# Тема “Обучение с учителем”

## Задание 1
- Импортируйте библиотеки pandas и numpy.
- Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. 
- Создайте датафреймы X и y из этих данных.

In [4]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston

In [17]:
boston = load_boston()
data = boston["data"]
# boston.keys()
feature_names = boston["feature_names"]
target = boston["target"]

In [111]:
x = pd.DataFrame(data, columns=feature_names)

x.head()
# x.shape

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [35]:
y = pd.DataFrame(target, columns=["price"])

y.head()
# y.shape

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

- Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42

In [30]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

- Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

In [31]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

- Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

In [32]:
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [38]:
# предсказание на тестовых
y_pred = lr.predict(x_test)
y_pred.shape

(152, 1)

In [46]:
# сведем y_test и y_pred в датафрейм
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(100)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
..      ...        ...
132    23.0  20.910781
371    50.0  24.822491
412    17.9  -0.477121
436     9.6  13.705205
411    17.2  15.695256

[100 rows x 2 columns]

- Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [47]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.711226005748496

## Задание 2

- Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.

In [119]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=1000, max_depth = 12,  random_state = 42)

Обучите модель на тренировочных данных

In [120]:
model.fit(x_train, y_train.values[:, 0])

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=12, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

- Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
- Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [121]:
# предсказание на тестовых
y_pred = model.predict(x_test)
y_pred.shape

(152,)

In [117]:
# сведем y_test и y_pred в датафрейм
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(100)

     y_test     y_pred
173    23.6  22.467655
274    32.4  30.601024
491    13.6  16.258102
72     22.8  23.419345
452    16.1  17.191246
..      ...        ...
132    23.0  20.791654
371    50.0  37.874557
412    17.9  11.545587
436     9.6  12.487343
411    17.2  12.367299

[100 rows x 2 columns]

In [123]:
# считаем R2
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.8749965273218174

*Получается, что RandomForestRegressor работает  лучше, т.к. R2 ближе к единице.*

## * Задание 3
- Вызовите документацию для класса RandomForestRegressor, найдите информацию об атрибуте feature_importances_.
- С помощью этого атрибута найдите сумму всех показателей важности, установите, какие два признака показывают наибольшую важность.

In [57]:
from sklearn.ensemble import RandomForestRegressor
RandomForestRegressor?

# feature_importances_ : ndarray of shape (n_features,)
# The feature importances (the higher, the more important the feature).

In [107]:
import numpy as np
feats = {}
for feature, importance in zip(x.columns, model.feature_importances_):
    feats[feature] = importance

In [108]:
# найдите сумму всех показателей важности
sum(feats.values())

0.9999999999999999

In [109]:
# сортируем по значению
sorted_by_value = sorted(feats.items(), key=lambda kv: kv[1])
# Выводим 2 наиболее значимых признака (значение которых ближе к 1)
sorted_by_value[-2:]

[('RM', 0.402704591696731), ('LSTAT', 0.4156789214509943)]

array([0.03211748, 0.00154999, 0.0070941 , 0.0011488 , 0.01436832,
       0.40270459, 0.01424477, 0.06403265, 0.00496762, 0.01169177,
       0.01808961, 0.0123114 , 0.41567892])